<div class="col-md-6 mx-auto">
    <p>
        <span style="color:#ea6c12;float:left">+</span><span style="padding-left:30px;display:block">NodeJS Stack mit EJS-Viewengine und PassportJS-Auth</span>
    </p>
    <p>
        <span style="color:#ea6c12;float:left">+</span><span style="padding-left:30px;display:block">Prismic.io Headless CMS Anbindung</span>
    </p>
    <p>
        <span style="color:#ea6c12;float:left">+</span><span style="padding-left:30px;display:block">CMS Content und JS-Backend mit Express-Server</span>
    </p>
    <p>
        <span style="color:#ea6c12;float:left">+</span><span style="padding-left:30px;display:block">Autotask Ticket Schnittstelle per AJAX-PHP-Server</span>
    </p>
    <p>
        <span style="color:#ea6c12;float:left">+</span><span style="padding-left:30px;display:block">Alpaca-JS Forms und myPRTG-Map, Parallax-Scrolling, ...</span>
    </p>
</div>