<!-- Footer -->
<footer class="page-footer font-small bg-light pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row bg-light">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3 ml-3">

        <!-- Content -->
        
        <h4>Produkte &amp; Services</h4>
        
        <p><a href="https://kaemi.website/sd-wan/">Software Defined WAN</a></p>
        <p><a href="https://kaemi.website/mpls-offloading/">MPLS Offloading</a></p>
        <p><a href="https://kaemi.website/auto-vpn/">Auto VPN</a></p>
        <p><a href="https://kaemi.website/sd-lan/">Software Defined LAN</a></p>
        <p><a href="https://kaemi.website/umbrella-security/">Umbrella Security</a></p>
        <p><a href="https://kaemi.website/managed-video-security/">Managed Video Security</a></p>
        <p><a href="https://kaemi.website/desaster-recovery/">Desaster Recovery</a></p>
        <p><a href="https://kaemi.website/ucc/">Unified Communications and Collaboration</a></p>
        <p>&nbsp;</p>
    
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3 ">

        <h4 class="footer-titel">Service Links</h4>
	        <div class="textwidget">
         
	            <p><a href="https://kaemi.itcpentportal.com/" target="_blank" rel="noopener">KAEMI Kundenportal</a></p>
	            <p><a href="https://app.myglue.com/login" target="_blank" rel="noopener">Kunden-Dokumentationsportal</a></p>
	            <p><a href="https://portal.thinkingphones.com/jetspeed/portal/" target="_blank" rel="noopener">UCC Dashboard</a></p>
	            <p><a href="https://my.kaemi.cloud">KAEMI Cloud</a></p>
	            <p><a href="https://login.kaemi.services/?__hstc=194233074.59bb463148b89155e18f6487f91156ce.1559815494294.1567164442568.1567171414885.80&amp;__hssc=194233074.7.1567171414885&amp;__hsfp=2714696583" target="_blank" rel="noopener">KAEMI Cloud PBX&nbsp;</a></p>
	            <p>&nbsp;</p>
	            <p><a href="https://kaemi.website/sd-wan-whitepaper/" target="_blank" rel="noopener">SD-WAN Whitepaper Download</a></p>
	            <p>&nbsp;</p>
	            <p><a href="https://kaemi.website/datenschutz">Datenschutz</a></p>
	            <p><a href="https://kaemi.website/impressum/">Impressum</a></p>
	            <p><a href="https://kaemi.website/kontakt/">Kontakt</a></p>
          
	        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 ">
        <h4>Facebook-Roll</h4>
        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright bg-light text-center py-3">© 2019:
    <a href="https://kaemi.io"> kaemi.io</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->