<%if (el.primary.horizontal_row == "yes") { %>
    	
<div class="whitespace" 
	style="display:block;height:<%=el.primary.height/2%>px;
		background-color: <%=el.primary.background_color%>;">


<hr class="my-auto"/>  
<%} else { %>


<div class="whitespace" 
	style="display:block;height:<%=el.primary.height/2%>px;background-color: <%=el.primary.background_color%>;">


<%}%>
</div>