<!-- views/map.ejs -->

<!DOCTYPE html>
<html lang="de">
<% include partials/head.ejs  %>
<body class="mappage">
<%include partials/header.ejs %>
<div class="container">
<object data='https://kaemi.my-prtg.com/public/mapshow.htm?id=4003&mapid=F19D3E93-EAD7-4083-AE75-7DA41A2D3FE3' width='950' height='600' type='text/html'>
	<h3>Map läd nicht</h3>
</object>
</div>
</body>
</html>