<!-- views/mxl3print.ejs -->

<!DOCTYPE html>
<html lang="de">
<% include partials/head.ejs  %>
<body class="mappage">
<%include partials/header.ejs %>
<div class="container">
	<ul>
	<% orgs.forEach(function(org) { %>
		<li><a href="/mxl3print/org/<%=org.id%>"><%=org.name%> (id: <%=org.id%>)</a></li>
		
	<% }); %>
</ul> 
</object>
</div>
</body>
</html>