<!-- views/mxl3vlan200.ejs -->

<!DOCTYPE html>
<html lang="de">
<% include partials/head.ejs  %>
<body class="mappage">
<%include partials/header.ejs %>
<div class="container">
	<h1>mxl3org</h1>
	<h2>org: <%r.org.name%></h2>
	
	<% r.rules.forEach(function(nets) { %>
	<% nets.forEach(function(rules2) { %>
	<% rules2.forEach(function(r2) {%>
		sdfsdfsdgf
		<li><%=r2.comment%></li>
		<% }); %>
		<% }); %>
	<% }); %>
</div>
</body>
</html>