<!-- views/mxl3print.ejs -->

<!DOCTYPE html>
<html lang="de">
<% include partials/head.ejs  %>
<body class="mappage">
<%include partials/header.ejs %>
<div class="container">
	<pre>
	<%=result%>
</pre>
</div>
</body>
</html>